ul, li {
  list-style: none;
}

.shelfItem {
  margin-left: 50px;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 20px ;
}

.smallBook {
	max-height: 120px;
	max-width: 90px;

}

#popUpDiv{
   z-index: 1000;
   position: absolute;
    	 
   width: 100px;
   height: 200px;
}

#cMenu {
   background-color: gray;
   z-index: 1000;
   position: absolute;
   width: 100px;
}

button {
  margin-bottom: 15px;
}

